<!DOCTYPE html>
<html>
<head>
    <title>Add Appointment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    {% if error == "No" %}
        <script>
            alert("Appointment created successfully.");
        </script>
    {% elif error == "Yes" %}
        <script>
            alert("Failed to create appointment.");
        </script>
    {% elif error == "Patient does not exist" %}
        <script>
            alert("Patient does not exist");
        </script>
    {% endif %}

    <div class="container mt-5">
        <h1 class="mb-4">Add Appointment</h1>
        <form method="post" action="add_appointment">
            {% csrf_token %}

            <div class="form-group">
                <label for="patient">Patient:</label>
                <input type="text" class="form-control" name="patient">
            </div>

            <div class="form-group">
                <label for="doctor">Doctor:</label>
                <select class="form-control" id="doctor" name="doctor">
                    <option value="oncologist">Oncologist</option>
                    <option value="ent">ENT</option>
                    <option value="cardiologist">Cardiologist</option>
                    <option value="neurologist">Neurologist</option>
                    <option value="orthologist">Orthologist</option>
                </select>
            </div>

            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" class="form-control" name="date" id="date">
            </div>

            <div class="form-group">
                <label for="time">Time:</label>
                <input type="time" class="form-control" name="time" id="time">
            </div>

            <div class="form-group">
                <label for="complain">Complain:</label>
                <input type="text" class="form-control" name="complain" id="complain">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
